:root {
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font sizes */
    --title-font: 32px;

    /* colors */
    --background: #2D2E29;
    --book-info: #D8E0CE;
    --green: #5AA85E;
    --orange: #CA6636;
    --popup: #DAC792;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--background);
    border-radius: 12px;
    height: 2rem;
    background-color: var(--book-info);
}

input:focus {
    outline: none;
}

#input-read-status {
    height: 2ren;
    width: 2rem;
    
    border-radius: 50%;
}

#input-read-status:checked {
    background-color: rgb(253, 121, 121);
}

button {
    background: none;
    color: inherit;
    border: 1px solid var(--background);
    padding: 12px 18px;
    cursor: pointer;
    outline: inherit;
}

.container {
    background-color: rgb(86, 138, 116);
    height: 100vh;
    width: min(800px, 100%);
    display: grid;
    grid-template-rows: 2fr 8fr;
    position: relative;
}

.header {
    background-color: var(--background);
    color: var(--book-info);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bookInfo {
    font-size: var(--title-font);
}

.shelves {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 100px;
}

.shelf-space {
    height: 15%;
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.shelf {
    background-color: var(--popup);
    border-radius: 32px;
    border: 1px solid var(--background);
}

.books {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 450px;
    justify-self: center;
}

.book {
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 5px 5px;
}

#add-book {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--book-info);
    color: var(--background);
    opacity: 0.5;

    bottom: 50px;
    right: 50px
}

.pop-menu {
    position: absolute;
    background-color: var(--popup);
    color: var(--background);
    height: 40%;
    width: min(500px, 100%);
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    padding: 32px 24px;
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.pop-menu
button {
    grid-column: 1 / 3;
    background-color: var(--book-info);
    color: var(--background);
    border-radius: 12px;
}

.book-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.read-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-menu-header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hidden {
    display: none;
}

.visible {
    display: absolute;
}